/*  Contact */

.contact{
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 25px;
  color: var(--text);
}

.contact li {
  margin: 0 30px;
}

.FaLinkedin{
  font-size: 40px;
}


/* footer {
  height: 50px;
  background-color: var(--black);
} */
