.image-container {
  position: relative;
}

.image-container .app, .image-container .github {  
  display: none;
  position: absolute;
  bottom: 50%;
  /* width: 49%;
  padding: 10px; */
  text-align: center;  
  background: #023047;  ;
}

.image-container .app {
  left: 30%;
}

.image-container .github {
  right: 30%;
}

.image-container:hover .app, .image-container:hover .github {
  display: block; 
  
}

.card-img-top:hover {
  opacity: 0.5;
}

